{erl_opts, [
        debug_info
]}.

{deps, [
    {msgpack, {git, "https://github.com/msgpack/msgpack-erlang", {tag, "0.7.0"}}},
    {pbkdf2, {git, "https://github.com/pma/erlang-pbkdf2", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx", {tag, "v2.8.0"}}},
    {wamper, {git, "https://github.com/bwegh/wamper", {branch, "master"}}},
    {gun, {git, "https://github.com/ninenines/gun", {branch, "master"}}}
]}.
